body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

figure {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
}

figure figcaption {
    color: lightgrey;
    font-style: italic;
}

